@import "~bootstrap/scss/bootstrap";
@import "scrollbar.scss";

html,
body,
#root,
#app {
    height: 100%;
    overflow: hidden;
}

.content-app {
    overflow-y: auto;
    height: 84%;

    .chart {
        height: 50%;
        padding: 22px 40px;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: none;
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 7px;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #60656e;
        min-height: 20px;
        min-width: 20px;
        border-radius: 10px;

        &:hover {
            background: #a777d0 !important;
        }
    }
}

.header {
    font-family: "Source Sans Pro";
    font-size: 25px;
    color: "#2e3440";
}

.header,
.footer {
    height: 8%;
    width: 100%;
    padding: 0 40px;
    background: #dddee1;
    display: flex;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;

    button {
        font-family: "Source Code Pro";
        font-size: 14px;
    }
}
