.ace_gutter {
    padding: 10px 0 !important;
}

.ace_scroller {
    margin: 10px 0 !important;
}

.container-editor {
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: vertical;

    .ace_scrollbar {
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }

        &::-webkit-scrollbar-track:hover {
            background-color: none;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            height: 7px;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #60656e;
            min-height: 20px;
            min-width: 20px;
            border-radius: 10px;

            &:hover {
                background: #a777d0 !important;
            }
        }
    }
}
