.scrollbar {
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: none;
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 7px;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dddee1;
        min-height: 20px;
        min-width: 20px;
        border-radius: 10px;

        &:hover {
            background: #a777d0 !important;
        }
    }
}
